---
- name: alice_blue
  hex: F0F8FF
- name: antique_white
  hex: FAEBD7
- name: aqua
  hex: 00FFFF
- name: aquamarine
  hex: 7FFFD4
- name: azure
  hex: F0FFFF
- name: beige
  hex: F5F5DC
- name: bisque
  hex: FFE4C4
- name: black
  hex: '000000'
- name: blanched_almond
  hex: FFEBCD
- name: blue
  hex: 0000FF
- name: blue_violet
  hex: 8A2BE2
- name: brown
  hex: A52A2A
- name: burly_wood
  hex: DEB887
- name: cadet_blue
  hex: 5F9EA0
- name: chartreuse
  hex: 7FFF00
- name: chocolate
  hex: D2691E
- name: coral
  hex: FF7F50
- name: cornflower_blue
  hex: 6495ED
- name: cornsilk
  hex: FFF8DC
- name: crimson
  hex: DC143C
- name: cyan
  hex: 00FFFF
- name: dark_blue
  hex: '00008B'
- name: dark_cyan
  hex: '008B8B'
- name: dark_goldenrod
  hex: B8860B
- name: dark_gray
  hex: A9A9A9
- name: dark_green
  hex: '006400'
- name: dark_khaki
  hex: BDB76B
- name: dark_magenta
  hex: 8B008B
- name: dark_olive_green
  hex: 556B2F
- name: dark_orange
  hex: FF8C00
- name: dark_orchid
  hex: 9932CC
- name: dark_red
  hex: 8B0000
- name: dark_salmon
  hex: E9967A
- name: dark_sea_green
  hex: 8FBC8B
- name: dark_slate_blue
  hex: 483D8B
- name: dark_slate_gray
  hex: 2F4F4F
- name: dark_turquoise
  hex: 00CED1
- name: dark_violet
  hex: 9400D3
- name: deep_pink
  hex: FF1493
- name: deep_sky_blue
  hex: 00BFFF
- name: dim_gray
  hex: '696969'
- name: dodger_blue
  hex: 1E90FF
- name: fire_brick
  hex: B22222
- name: floral_white
  hex: FFFAF0
- name: forest_green
  hex: 228B22
- name: fuchsia
  hex: FF00FF
- name: gainsboro
  hex: DCDCDC
- name: ghost_white
  hex: F8F8FF
- name: gold
  hex: FFD700
- name: goldenrod
  hex: DAA520
- name: gray
  hex: '808080'
- name: green
  hex: '008000'
- name: green_yellow
  hex: ADFF2F
- name: honey_dew
  hex: F0FFF0
- name: hot_pink
  hex: FF69B4
- name: indian_red
  hex: CD5C5C
- name: indigo
  hex: 4B0082
- name: ivory
  hex: FFFFF0
- name: khaki
  hex: F0E68C
- name: lavender
  hex: E6E6FA
- name: lavender_blush
  hex: FFF0F5
- name: lawn_green
  hex: 7CFC00
- name: lemon_chiffon
  hex: FFFACD
- name: light_blue
  hex: ADD8E6
- name: light_coral
  hex: F08080
- name: light_cyan
  hex: E0FFFF
- name: light_goldenrod_yellow
  hex: FAFAD2
- name: light_gray
  hex: D3D3D3
- name: light_green
  hex: 90EE90
- name: light_pink
  hex: FFB6C1
- name: light_salmon
  hex: FFA07A
- name: light_sea_green
  hex: 20B2AA
- name: light_sky_blue
  hex: 87CEFA
- name: light_slate_gray
  hex: '778899'
- name: light_steel_blue
  hex: B0C4DE
- name: light_yellow
  hex: FFFFE0
- name: lime
  hex: 00FF00
- name: lime_green
  hex: 32CD32
- name: linen
  hex: FAF0E6
- name: magenta
  hex: FF00FF
- name: maroon
  hex: '800000'
- name: medium_aquamarine
  hex: 66CDAA
- name: medium_blue
  hex: 0000CD
- name: medium_orchid
  hex: BA55D3
- name: medium_purple
  hex: 9370DB
- name: medium_sea_green
  hex: 3CB371
- name: medium_slate_blue
  hex: 7B68EE
- name: medium_spring_green
  hex: 00FA9A
- name: medium_turquoise
  hex: 48D1CC
- name: medium_violet_red
  hex: C71585
- name: midnight_blue
  hex: '191970'
- name: mint_cream
  hex: F5FFFA
- name: misty_rose
  hex: FFE4E1
- name: moccasin
  hex: FFE4B5
- name: navajo_white
  hex: FFDEAD
- name: navy
  hex: '000080'
- name: old_lace
  hex: FDF5E6
- name: olive
  hex: '808000'
- name: olive_drab
  hex: 6B8E23
- name: orange
  hex: FFA500
- name: orange_red
  hex: FF4500
- name: orchid
  hex: DA70D6
- name: pale_goldenrod
  hex: EEE8AA
- name: pale_green
  hex: 98FB98
- name: pale_turquoise
  hex: AFEEEE
- name: pale_violet_red
  hex: DB7093
- name: papaya_whip
  hex: FFEFD5
- name: peach_puff
  hex: FFDAB9
- name: peru
  hex: CD853F
- name: pink
  hex: FFC0CB
- name: plum
  hex: DDA0DD
- name: powder_blue
  hex: B0E0E6
- name: purple
  hex: '800080'
- name: rebecca_purple
  hex: '663399'
- name: red
  hex: FF0000
- name: rosy_brown
  hex: BC8F8F
- name: royal_blue
  hex: 4169E1
- name: saddle_brown
  hex: 8B4513
- name: salmon
  hex: FA8072
- name: sandy_brown
  hex: F4A460
- name: sea_green
  hex: 2E8B57
- name: sea_shell
  hex: FFF5EE
- name: sienna
  hex: A0522D
- name: silver
  hex: C0C0C0
- name: sky_blue
  hex: 87CEEB
- name: slate_blue
  hex: 6A5ACD
- name: slate_gray
  hex: '708090'
- name: snow
  hex: FFFAFA
- name: spring_green
  hex: 00FF7F
- name: steel_blue
  hex: 4682B4
- name: tan
  hex: D2B48C
- name: teal
  hex: '008080'
- name: thistle
  hex: D8BFD8
- name: tomato
  hex: FF6347
- name: turquoise
  hex: 40E0D0
- name: violet
  hex: EE82EE
- name: wheat
  hex: F5DEB3
- name: white
  hex: FFFFFF
- name: white_smoke
  hex: F5F5F5
- name: yellow
  hex: FFFF00
- name: yellow_green
  hex: 9ACD32